.page {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer {
  background: #eee;
  flex: 0 0 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
